[Unit]
Description=pomerium
After=network.target

[Service]
ExecStart=/usr/bin/pomerium -config /etc/pomerium/config.yaml
User=www-data
Group=www-data
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
